<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Video</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>

    <%= post.title %>
        <p>
          <%= link_to post.video_url.to_s do %>
              <%= image_tag(post.video_url(:screenshot).to_s, id: "video", :alt => "screenshot") %>
          <% end %>
        </p>
        <div class="titles">
          <%= link_to post.title, post %>
        <%# <%= link_to image_tag("/assets/delete.svg"), method: :delete, data: { confirm: 'Are you sure?' } %>
        <%# <%= link_to image_tag("/assets/heart.svg"), like_path(post.id), method: :post %>
        </div>
    <% end %>
  </tbody>
</table>

<br>
<div class="new">
  <%= link_to image_tag("/assets/new.png"), new_post_path %>
</div>